.modulos{
    position: absolute;
    
}

.v-select{
    background: #005780 !important;
}

body{
   
    background: url(https://blog.structuralia.com/hubfs/Libros%20imprescindibles.jpg) no-repeat center center fixed;
    background-size:cover;

   

 } 

