<form method="POST" id="frm-buscar-peliculas">
    <div class="card text-white background-color mb-3" style="max-width: 48rem; background-color: #030f22;">
        <div class="car-header">
            BUSQUEDA PELICULAS

            <button type="button" id="btn-close-buscar-peliculas" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-peliculas" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarPelicula" placeholder="rellene los datos a buscar" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>DESCRIPCION</th>
                        <th>SINOPIS</th>
                        <th>GENERO</th>
                        <th>DURACION</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mipelicula in mispeliculas" :key="mipelicula.idPelicula" v-on:click="modificarPelicula(mipelicula)" >
                        <td>{{ mipelicula.descripcion }}</td>
                        <td>{{ mipelicula.sinopsis }}</td>
                        <td>{{ mipelicula.genero }}</td>
                        <td>{{ mipelicula.duracion }}</td>
                        <td>
                            <input v-on:click="eliminarPelicula(mipelicula.idPelicula)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/peliculas/buscar-peliculas.js"></script> 