<form v-on:submit.prevent="guardarAlumnos" v-on:reset="limpiarAlumnos" id="frm-alumnos">  
    <div class="card text-white background-color mb-3" style="max-width: 24rem; background-color: #64460e;">
        <!-- esta parte conforma la cabezera del formulario -->

        <div class="card-header">
          MANTENIMIENTO DE ALUMNOS

          <button type="button" id="btn-close-alumnos" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <!-- este es el contenido del formulario -->

      <div class="card-body" style="max-width: 24rem; background-color: #6b5325;">
          <div class="row row-cols-1 p-2">
              <div class="row-col">
                  <div class="col">
                      NOMBRE:
                  </div>
                  <div class="col">
                      <input type="text" required v-model="alumno.nombre" placeholder="AAA" class="form-control">
                  </div>
              </div>
          </div>
          <div class="row row-cols-1 p-2">
              <div class="row-col">
                  <div class="col">
                      DIRECCION:
                  </div>
                  <div class="col">
                      <input type="text" required v-model="alumno.direccion" placeholder="AAA AAAA" class="form-control">
                  </div>
              </div>
          </div>
          <div class="row row-cols-1 p-2">
              <div class="row-col">
                  <div class="col">
                      TELEFONO:
                  </div>
                  <div class="col">
                      <input type="text" required v-model="alumno.telefono" placeholder="0000-00000" class="form-control">
                  </div>
              </div>
          </div>
          <div class="row row-cols-1 p-2">
              <div class="row-col">
                  <div class="col">
                      CODIGO:
                  </div>
                  <div class="col">
                      <input type="text" required v-model="alumno.codigo" placeholder="SSSS000000" class="form-control">
                  </div>
              </div>
          </div>
          <!-- aqui esta las funciones para guardar, limpiar y mostrar la busqueda de este caso alumnos -->

          <div class="row row-cols-1 p-2">
              <div class="row-col text-center">
                  <div class="col">
                    <input id="btnGuardarAlumnos" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                      <input type="reset" class="btn btn-success" value="Limpiar">
                      <input type="button" class="btn btn-outline-success mostrar-buscar-alumnos text-white" data-modulo="alumnos" data-form="buscar-alumnos" value="Buscar" data-modulo="buscar-alumnos" >
                      <!-- siend aqui el llamado del formulario buscar-alumnos que se encuentra en la carpeta vistas -->

                  </div>
              </div>
          </div>          
      </div>
  </div>
</form>
<script src="public/vistas/alumnos/alumnos.js"></script>
