<form method="POST" id="frm-buscar-alumnos">
    <div class="card text-white background-color mb-3" style="max-width: 48rem; background-color: #030f22;">
        <div class="car-header">
            BUSQUEDA ALUMNOS

            <button type="button" id="btn-close-buscar-alumnos" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-alumnos" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarAlumno" placeholder="Escriba el datos a buscar" class="form-control">
                        </th>
                    </tr>
                    <tr>                       
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                        <th>CODIGO</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mialumnos in misalumnos" :key="mialumnos.idAlumno" v-on:click="modificarAlumno(mialumno)" >
                        <td>{{ mialumnos.nombre }}</td>
                        <td>{{ mialumnos.direccion }}</td>
                        <td>{{ mialumnos.telefono }}</td>
                        <td>{{ mialumnos.codigo }}</td>
                        <td>
                            <input v-on:click="eliminarAlumno(mialumnos.idAlumno)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/alumnos/buscar-alumnos.js"></script> 